<a href="https://colab.research.google.com/github/griffinsnest/Midterm-Review/blob/main/CleaningData.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
from sklearn import linear_model as lm

# Load data from CSV files into variable arrays
Data = pd.read_csv('https://github.com/realpython/python-data-cleaning/raw/master/Datasets/BL-Flickr-Images-Book.csv')


Data['Edition Statement'].isna().value_counts(dropna=False)/len(Data)
Data['Corporate Author'].isna().value_counts(dropna=False)/len(Data)
Data['Corporate Contributors'].isna().value_counts(dropna=False)/len(Data)
Data['Former owner'].isna().value_counts(dropna=False)/len(Data)
Data['Engraver'].isna().value_counts(dropna=False)/len(Data)

to_drop = ['Edition Statement', 'Corporate Author', 'Corporate Contributors', 'Former owner', 'Engraver']
Data.drop(columns=to_drop, inplace=True)

Data['Identifier'].is_unique #checks if unique?
Data.set_index('Identifier', inplace=True)

regex = r'^(\d{4})' #just grab the first four digits that begin in each column

DataExtr = Data['Date of Publication'].str.extract(regex, expand=False)

Data['Date of Publication'] = pd.to_numeric(DataExtr, downcast='integer')

Data['Date of Publication'].isnull().sum()/len(Data) # check what percentage of year column is null

Data['Place of Publication'].head(10)

DataPop = Data['Place of Publication']

london = DataPop.str.contains("London")

oxford = DataPop.str.contains("Oxford")

Data['Place of Publication'] = np.where(london, 'London', 
         np.where(oxford, 'Oxford', 
                  DataPop.str.replace('-', ' ')))
Data.head()
#Data['Place of Publication'].head(10)

In [ ]:
import pandas as pd
import numpy as np
from sklearn import linear_model as lm


university_towns = []

with open('/content/university_towns.txt') as file:
  for line in file:
    if '[edit]' in line:
      state = line
    else:
      university_towns.append((state, line))

university_towns[:10]

towns_df = pd.DataFrame(university_towns, columns=['State', 'RegionName'])

#towns_df['State'] = towns_df['State'].str.replace("\[edit\]\\n", '')

def get_city(item):
  if " (" in item:
    return item[:item.find(')')+1]
  elif '[' in item:
    return item[:item.find('[')]
  else:
    return item

towns_df = towns_df.applymap(get_city)

towns_df.head()

     State                                    RegionName
0  Alabama                    Auburn (Auburn University)
1  Alabama        Florence (University of North Alabama)
2  Alabama  Jacksonville (Jacksonville State University)
3  Alabama       Livingston (University of West Alabama)
4  Alabama         Montevallo (University of Montevallo)